body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}
.container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}
button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
}
